# TODO 

## Pathway data
- [x] Children who did not complete primary school (Pathways data)
- [x] Children who did not complete lower secondary school (Pathways data)
- [x] Children who did not complete upper secondary (Pathways data)

# Note - the results is revised by adding correponding sub group together. 
## NEET data
- [x] NEET rate for 15-19 year olds (NEET data)
- [x] NEET rate for 20-24 year olds. (NEET data)

In [141]:
import pandas as pd
from pathlib import Path
import numpy as np 
import warnings
warnings.filterwarnings("ignore")

datapath = Path('/Users/mengliu/Fabdata/UNICEF_formal') / 'data'   
datafile = datapath /'Pathway_with_weight_2021_0917.xlsx'
country_file = datapath / 'countries_csv.csv'

savepath = Path('/Users/mengliu/Fabdata/UNICEF_final') / 'output'
savepath.mkdir(exist_ok=True, parents=True)

# load the percentage data

In [142]:
data = pd.read_excel(datafile)
group_list = data['group'].unique().tolist()
print('all poluation group are :')
print('\n'.join(group_list))

category_list = data['small_categ'].unique().tolist()
print('\nall small categories are :')
print('\n'.join(category_list))

all poluation group are :
Urban
Wealth quintile - Richest
Rural
Wealth quintile - Middle
Wealth quintile - Fourth
Male
Wealth quintile - Second
Wealth quintile - Poorest
Total
Female

all small categories are :
Dropped out of lower secondary
Did not transition to lower secondary
Still attending lower secondary
Transitioned to lower secondary
Never entered primary
Transitioned to upper secondary
Did not transition to upper secondary
Completed lower secondary
Still attending primary
Completed primary
Dropped out of primary
Ever entered primary

In [146]:

group_level = data[data['group']==group_list[0]]
cat_level = group_level[group_level['small_categ']==category_list[0]]
DF_percentage = cat_level[['country','source','year','upsec_ageindatayear','source']]

# here we take the first group to initial the dataframe.
for group in group_list:
    for category in category_list:
        group_level = data[data['group']==group]
        cat_level = group_level[group_level['small_categ']==category]
        tab = f'{group}_{category}'
        DF_percentage[tab] = cat_level['percentage'].values

DF_percentage = DF_percentage.reset_index().drop('index',axis='columns')
# remove the regions such as world. 
DF_percentage = DF_percentage.drop(DF_percentage[pd.isna(DF_percentage['year'])].index)    
# split the age range into specific age     
DF_percentage['age_low'] = DF_percentage['upsec_ageindatayear'].str.split('-').str[0].astype('int')
DF_percentage['age_high'] = DF_percentage['upsec_ageindatayear'].str.split('-').str[1].astype('int')
DF_percentage['age_band'] = DF_percentage['age_high'] - DF_percentage['age_low'] + 1
for group in group_list:
    DF_percentage[f'{group}_Needs_in_primary'] = DF_percentage[f'{group}_Never entered primary'] + DF_percentage[f'{group}_Dropped out of primary'] + DF_percentage[f'{group}_Still attending primary'] 
    DF_percentage[f'{group}_Needs_in_LS'] = DF_percentage[f'{group}_Did not transition to lower secondary'] + DF_percentage[f'{group}_Dropped out of lower secondary'] + DF_percentage[f'{group}_Still attending lower secondary']
    DF_percentage[f'{group}_Needs_in_US'] = DF_percentage[f'{group}_Did not transition to upper secondary']
display(DF_percentage)
#DF_percentage = DF_percentage[['country','year','upsec_ageindatayear','Female_Needs_in_primary','Female_Needs_in_LS','Female_Needs_in_US','Male_Needs_in_primary','Male_Needs_in_LS','Male_Needs_in_US','age_low','age_high','age_band']]
DF_percentage


tmp = DF_percentage[DF_percentage['country']=='Liberia']

tmp[['Male_Did not transition to upper secondary','Female_Did not transition to upper secondary']]

,country,source,year,upsec_ageindatayear,source,Urban_Dropped out of lower secondary,Urban_Did not transition to lower secondary,Urban_Still attending lower secondary,Urban_Transitioned to lower secondary,Urban_Never entered primary,...,Wealth quintile - Second_Needs_in_US,Wealth quintile - Poorest_Needs_in_primary,Wealth quintile - Poorest_Needs_in_LS,Wealth quintile - Poorest_Needs_in_US,Total_Needs_in_primary,Total_Needs_in_LS,Total_Needs_in_US,Female_Needs_in_primary,Female_Needs_in_LS,Female_Needs_in_US
0,Afghanistan,DHS,2015-16,16-18,DHS,5.155056,3.084785,17.389533,69.313698,17.044494,...,1.623026,55.788847,23.094088,2.106235,45.531657,22.318897,1.706868,61.162088,16.005274,1.417430
1,Albania,DHS,2017-18,14-17,DHS,0.752825,0.614779,0.058706,96.976273,1.342770,...,10.278906,3.551434,1.206415,22.844608,1.912074,1.149230,9.871478,1.909889,1.346479,9.160882
2,Algeria,MICS,2018-19,15-17,MICS,11.503776,0.448183,24.680440,95.097948,1.914520,...,3.806307,13.716092,53.917853,3.212740,5.806690,40.094066,2.813620,4.788704,30.186153,2.712620
3,Angola,DHS,2016,15-17,DHS,3.400000,1.400000,47.800000,72.300000,3.700000,...,0.700000,81.300000,17.700000,0.500000,40.200000,44.400000,0.800000,43.400000,41.400000,0.900000
4,Argentina,MICS,2011-12,15-17,MICS,NaN,NaN,NaN,NaN,NaN,...,1.900000,4.800000,53.300000,3.000000,2.400000,36.800000,1.600000,2.200000,31.000000,1.700000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,Uruguay,MICS,2012-13,15-17,MICS,10.700000,4.100000,35.400000,92.100000,1.600000,...,3.200000,11.400000,63.000000,5.400000,3.500000,50.100000,4.000000,1.300000,37.800000,3.000000
99,Viet Nam,MICS,2013-14,15-17,MICS,7.800000,0.900000,2.900000,96.800000,0.800000,...,12.400000,10.700000,31.100000,12.900000,3.400000,14.500000,7.900000,3.800000,11.200000,7.300000
100,Yemen,DHS,2013,15-17,DHS,4.200000,4.000000,25.200000,79.600000,3.500000,...,2.000000,63.100000,26.100000,1.100000,32.100000,35.200000,1.700000,40.800000,30.600000,1.900000
101,Zambia,DHS,2018,16-18,DHS,3.817508,6.053556,23.900275,78.502815,1.513238,...,4.141937,65.801435,27.925720,2.485762,32.662827,36.081894,5.466298,30.134580,37.629931,6.278414
102,Zimbabwe,MICS,2019,15-18,MICS,11.140255,5.688387,19.018090,92.070625,0.405148,...,24.935849,15.833005,74.804927,9.362069,7.614970,54.894051,30.913427,5.527568,51.742174,36.277812

,Male_Did not transition to upper secondary,Female_Did not transition to upper secondary
55,0.006392,1.162631

# load the Poluation data

In [111]:
pop_rename = {'United Republic of Tanzania':'Tanzania',
              'Republic of Moldova': 'Moldova',
              'Bolivia (Plurinational State of)':'Bolivia'    
}

popfile_bothsex =  'WPP2019_INT_F03_1_POPULATION_BY_AGE_ANNUAL_BOTH_SEXES.xlsx'
pop = pd.read_excel(popfile_bothsex,header=16)
pop = pop[pop['Reference date (as of 1 July)']==2020].reset_index()
pop.rename(columns={pop.columns[3]:'country'},inplace=True)
pop.replace(pop_rename,inplace=True)

In [112]:
pop

,index,Index,Variant,country,Notes,Country code,Type,Parent code,Reference date (as of 1 July),0,...,91,92,93,94,95,96,97,98,99,100
0,70,71,Estimates,WORLD,NaN,900,World,0,2020,136077.713,...,3993.554,3408.759,2670.423,1778.57,1236.577,1066.234,861.307,621.805,347.713,573.423
1,141,142,Estimates,UN development groups,a,1803,Label/Separator,900,2020,...,...,...,...,...,...,...,...,...,...,...,...
2,212,213,Estimates,More developed regions,b,901,Development Group,1803,2020,13224.698,...,2292.462,1993.287,1587.499,1075.109,754.87,657.673,534.098,384.15,207.816,313.986
3,283,284,Estimates,Less developed regions,c,902,Development Group,1803,2020,122853.015,...,1701.092,1415.472,1082.924,703.461,481.707,408.561,327.209,237.655,139.897,259.437
4,354,355,Estimates,Least developed countries,d,941,Development Group,902,2020,30984.647,...,88.945,72.522,53.692,32.466,20.41,17.108,13.464,9.461,5.114,7.999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
250,17820,17821,Estimates,Netherlands,28,528,Country/Area,926,2020,168.549,...,25.393,21.658,17.008,11.446,8.137,7.051,5.687,4.042,2.119,2.963
251,17891,17892,Estimates,Switzerland,NaN,756,Country/Area,926,2020,90.167,...,16.209,14.057,11.101,7.339,4.991,4.307,3.456,2.441,1.259,1.695
252,17962,17963,Estimates,NORTHERN AMERICA,NaN,918,SDG subregion,1829,2020,4393.652,...,547.112,481.841,391.861,277.179,203.055,178.071,146.187,107.403,61.721,105.686
253,18033,18034,Estimates,Canada,NaN,124,Country/Area,918,2020,401.528,...,60.227,52.552,42.116,28.918,20.638,18.023,14.664,10.559,5.709,8.546
254,18104,18105,Estimates,United States of America,29,840,Country/Area,918,2020,3990.818,...,486.744,429.166,349.646,248.187,182.358,159.995,131.479,96.812,55.992,97.104

In [113]:
index_gap = 9
for index, row in DF_percentage.iterrows():
    pop_row = pop[pop['country']==row['country']]
    if pop_row.empty:
        continue
    
    key1 = row['age_low'] + index_gap
    key2 = row['age_high']+ index_gap + 1 # right open 
    DF_percentage.at[index,'Total_population_agerange']= float(pop_row.iloc[:,key1:key2].sum(axis=1).values)

display(DF_percentage)
DF_percentage_new = DF_percentage[DF_percentage['Total_population_agerange'].notna()]
display(DF_percentage_new)
print('missed countries: \n')
print('\n'.join(set(DF_percentage.country)-set(DF_percentage_new.country)))

,country,source,year,upsec_ageindatayear,source,Urban_Dropped out of lower secondary,Urban_Did not transition to lower secondary,Urban_Still attending lower secondary,Urban_Transitioned to lower secondary,Urban_Never entered primary,...,Wealth quintile - Poorest_Needs_in_primary,Wealth quintile - Poorest_Needs_in_LS,Wealth quintile - Poorest_Needs_in_US,Total_Needs_in_primary,Total_Needs_in_LS,Total_Needs_in_US,Female_Needs_in_primary,Female_Needs_in_LS,Female_Needs_in_US,Total_population_agerange
0,Afghanistan,DHS,2015-16,16-18,DHS,5.155056,3.084785,17.389533,69.313698,17.044494,...,55.788847,23.094088,2.106235,45.531657,22.318897,1.706868,61.162088,16.005274,1.417430,2777.983
1,Albania,DHS,2017-18,14-17,DHS,0.752825,0.614779,0.058706,96.976273,1.342770,...,3.551434,1.206415,22.844608,1.912074,1.149230,9.871478,1.909889,1.346479,9.160882,149.990
2,Algeria,MICS,2018-19,15-17,MICS,11.503776,0.448183,24.680440,95.097948,1.914520,...,13.716092,53.917853,3.212740,5.806690,40.094066,2.813620,4.788704,30.186153,2.712620,1792.845
3,Angola,DHS,2016,15-17,DHS,3.400000,1.400000,47.800000,72.300000,3.700000,...,81.300000,17.700000,0.500000,40.200000,44.400000,0.800000,43.400000,41.400000,0.900000,2209.021
4,Argentina,MICS,2011-12,15-17,MICS,NaN,NaN,NaN,NaN,NaN,...,4.800000,53.300000,3.000000,2.400000,36.800000,1.600000,2.200000,31.000000,1.700000,2131.984
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,Uruguay,MICS,2012-13,15-17,MICS,10.700000,4.100000,35.400000,92.100000,1.600000,...,11.400000,63.000000,5.400000,3.500000,50.100000,4.000000,1.300000,37.800000,3.000000,145.968
99,Viet Nam,MICS,2013-14,15-17,MICS,7.800000,0.900000,2.900000,96.800000,0.800000,...,10.700000,31.100000,12.900000,3.400000,14.500000,7.900000,3.800000,11.200000,7.300000,3929.130
100,Yemen,DHS,2013,15-17,DHS,4.200000,4.000000,25.200000,79.600000,3.500000,...,63.100000,26.100000,1.100000,32.100000,35.200000,1.700000,40.800000,30.600000,1.900000,1959.731
101,Zambia,DHS,2018,16-18,DHS,3.817508,6.053556,23.900275,78.502815,1.513238,...,65.801435,27.925720,2.485762,32.662827,36.081894,5.466298,30.134580,37.629931,6.278414,1276.025
102,Zimbabwe,MICS,2019,15-18,MICS,11.140255,5.688387,19.018090,92.070625,0.405148,...,15.833005,74.804927,9.362069,7.614970,54.894051,30.913427,5.527568,51.742174,36.277812,1332.280

,country,source,year,upsec_ageindatayear,source,Urban_Dropped out of lower secondary,Urban_Did not transition to lower secondary,Urban_Still attending lower secondary,Urban_Transitioned to lower secondary,Urban_Never entered primary,...,Wealth quintile - Poorest_Needs_in_primary,Wealth quintile - Poorest_Needs_in_LS,Wealth quintile - Poorest_Needs_in_US,Total_Needs_in_primary,Total_Needs_in_LS,Total_Needs_in_US,Female_Needs_in_primary,Female_Needs_in_LS,Female_Needs_in_US,Total_population_agerange
0,Afghanistan,DHS,2015-16,16-18,DHS,5.155056,3.084785,17.389533,69.313698,17.044494,...,55.788847,23.094088,2.106235,45.531657,22.318897,1.706868,61.162088,16.005274,1.417430,2777.983
1,Albania,DHS,2017-18,14-17,DHS,0.752825,0.614779,0.058706,96.976273,1.342770,...,3.551434,1.206415,22.844608,1.912074,1.149230,9.871478,1.909889,1.346479,9.160882,149.990
2,Algeria,MICS,2018-19,15-17,MICS,11.503776,0.448183,24.680440,95.097948,1.914520,...,13.716092,53.917853,3.212740,5.806690,40.094066,2.813620,4.788704,30.186153,2.712620,1792.845
3,Angola,DHS,2016,15-17,DHS,3.400000,1.400000,47.800000,72.300000,3.700000,...,81.300000,17.700000,0.500000,40.200000,44.400000,0.800000,43.400000,41.400000,0.900000,2209.021
4,Argentina,MICS,2011-12,15-17,MICS,NaN,NaN,NaN,NaN,NaN,...,4.800000,53.300000,3.000000,2.400000,36.800000,1.600000,2.200000,31.000000,1.700000,2131.984
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,Uruguay,MICS,2012-13,15-17,MICS,10.700000,4.100000,35.400000,92.100000,1.600000,...,11.400000,63.000000,5.400000,3.500000,50.100000,4.000000,1.300000,37.800000,3.000000,145.968
99,Viet Nam,MICS,2013-14,15-17,MICS,7.800000,0.900000,2.900000,96.800000,0.800000,...,10.700000,31.100000,12.900000,3.400000,14.500000,7.900000,3.800000,11.200000,7.300000,3929.130
100,Yemen,DHS,2013,15-17,DHS,4.200000,4.000000,25.200000,79.600000,3.500000,...,63.100000,26.100000,1.100000,32.100000,35.200000,1.700000,40.800000,30.600000,1.900000,1959.731
101,Zambia,DHS,2018,16-18,DHS,3.817508,6.053556,23.900275,78.502815,1.513238,...,65.801435,27.925720,2.485762,32.662827,36.081894,5.466298,30.134580,37.629931,6.278414,1276.025
102,Zimbabwe,MICS,2019,15-18,MICS,11.140255,5.688387,19.018090,92.070625,0.405148,...,15.833005,74.804927,9.362069,7.614970,54.894051,30.913427,5.527568,51.742174,36.277812,1332.280

missed countries:

Kosovo
Montenegro (Roma Settlements)
Serbia (Roma Settlements)
Bosnia and Herzegovina (Roma Settlements)
North Macedonia (Roma Settlements)
Kosovo (Roma, Ashkali and Egyption)

# population for each gender

In [114]:
popfile_bothsex =  'WPP2019_INT_F03_3_POPULATION_BY_AGE_ANNUAL_FEMALE.xlsx'
pop = pd.read_excel(popfile_bothsex,header=16)
pop = pop[pop['Reference date (as of 1 July)']==2020].reset_index()
pop.rename(columns={pop.columns[3]:'country'},inplace=True)
pop.replace(pop_rename,inplace=True)

index_gap = 9
for index, row in DF_percentage.iterrows():
    pop_row = pop[pop['country']==row['country']]
    if pop_row.empty:
        continue
    
    key1 = row['age_low'] + index_gap
    key2 = row['age_high']+ index_gap + 1 # right open 
    DF_percentage.at[index,'Female_population_agerange']= float(pop_row.iloc[:,key1:key2].sum(axis=1).values)
DF_percentage = DF_percentage[DF_percentage['Female_population_agerange'].notna()]
popfile_bothsex = datapath / 'WPP2019_INT_F03_2_POPULATION_BY_AGE_ANNUAL_MALE.xlsx'
pop = pd.read_excel(popfile_bothsex,header=16)
pop = pop[pop['Reference date (as of 1 July)']==2020].reset_index()
pop.rename(columns={pop.columns[3]:'country'},inplace=True)
pop.replace(pop_rename,inplace=True)

index_gap = 9
for index, row in DF_percentage.iterrows():
    pop_row = pop[pop['country']==row['country']]
    if pop_row.empty:
        continue
    
    key1 = row['age_low'] + index_gap
    key2 = row['age_high']+ index_gap + 1 # right open 
    DF_percentage.at[index,'Male_population_agerange']= float(pop_row.iloc[:,key1:key2].sum(axis=1).values)
DF_percentage = DF_percentage[DF_percentage['Male_population_agerange'].notna()]
DF_percentage

,country,source,year,upsec_ageindatayear,source,Urban_Dropped out of lower secondary,Urban_Did not transition to lower secondary,Urban_Still attending lower secondary,Urban_Transitioned to lower secondary,Urban_Never entered primary,...,Wealth quintile - Poorest_Needs_in_US,Total_Needs_in_primary,Total_Needs_in_LS,Total_Needs_in_US,Female_Needs_in_primary,Female_Needs_in_LS,Female_Needs_in_US,Total_population_agerange,Female_population_agerange,Male_population_agerange
0,Afghanistan,DHS,2015-16,16-18,DHS,5.155056,3.084785,17.389533,69.313698,17.044494,...,2.106235,45.531657,22.318897,1.706868,61.162088,16.005274,1.417430,2777.983,1350.082,1427.901
1,Albania,DHS,2017-18,14-17,DHS,0.752825,0.614779,0.058706,96.976273,1.342770,...,22.844608,1.912074,1.149230,9.871478,1.909889,1.346479,9.160882,149.990,69.533,80.457
2,Algeria,MICS,2018-19,15-17,MICS,11.503776,0.448183,24.680440,95.097948,1.914520,...,3.212740,5.806690,40.094066,2.813620,4.788704,30.186153,2.712620,1792.845,878.622,914.223
3,Angola,DHS,2016,15-17,DHS,3.400000,1.400000,47.800000,72.300000,3.700000,...,0.500000,40.200000,44.400000,0.800000,43.400000,41.400000,0.900000,2209.021,1112.806,1096.215
4,Argentina,MICS,2011-12,15-17,MICS,NaN,NaN,NaN,NaN,NaN,...,3.000000,2.400000,36.800000,1.600000,2.200000,31.000000,1.700000,2131.984,1047.460,1084.524
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,Uruguay,MICS,2012-13,15-17,MICS,10.700000,4.100000,35.400000,92.100000,1.600000,...,5.400000,3.500000,50.100000,4.000000,1.300000,37.800000,3.000000,145.968,71.405,74.563
99,Viet Nam,MICS,2013-14,15-17,MICS,7.800000,0.900000,2.900000,96.800000,0.800000,...,12.900000,3.400000,14.500000,7.900000,3.800000,11.200000,7.300000,3929.130,1890.165,2038.965
100,Yemen,DHS,2013,15-17,DHS,4.200000,4.000000,25.200000,79.600000,3.500000,...,1.100000,32.100000,35.200000,1.700000,40.800000,30.600000,1.900000,1959.731,962.903,996.828
101,Zambia,DHS,2018,16-18,DHS,3.817508,6.053556,23.900275,78.502815,1.513238,...,2.485762,32.662827,36.081894,5.466298,30.134580,37.629931,6.278414,1276.025,637.057,638.968
102,Zimbabwe,MICS,2019,15-18,MICS,11.140255,5.688387,19.018090,92.070625,0.405148,...,9.362069,7.614970,54.894051,30.913427,5.527568,51.742174,36.277812,1332.280,667.629,664.651

# validation test
## female, Afghanistan 
16 : 463
17 : 450
18 : 437 
sum  = 1350
## male, Afghanistan
16 : 489
17 : 476
18 : 463
sum = 1428

so the results need a round into int

In [115]:
DF_percentage['Male_population_agerange'] = DF_percentage['Male_population_agerange'].round()
DF_percentage['Female_population_agerange'] = DF_percentage['Female_population_agerange'].round()
DF_percentage

,country,source,year,upsec_ageindatayear,source,Urban_Dropped out of lower secondary,Urban_Did not transition to lower secondary,Urban_Still attending lower secondary,Urban_Transitioned to lower secondary,Urban_Never entered primary,...,Wealth quintile - Poorest_Needs_in_US,Total_Needs_in_primary,Total_Needs_in_LS,Total_Needs_in_US,Female_Needs_in_primary,Female_Needs_in_LS,Female_Needs_in_US,Total_population_agerange,Female_population_agerange,Male_population_agerange
0,Afghanistan,DHS,2015-16,16-18,DHS,5.155056,3.084785,17.389533,69.313698,17.044494,...,2.106235,45.531657,22.318897,1.706868,61.162088,16.005274,1.417430,2777.983,1350.0,1428.0
1,Albania,DHS,2017-18,14-17,DHS,0.752825,0.614779,0.058706,96.976273,1.342770,...,22.844608,1.912074,1.149230,9.871478,1.909889,1.346479,9.160882,149.990,70.0,80.0
2,Algeria,MICS,2018-19,15-17,MICS,11.503776,0.448183,24.680440,95.097948,1.914520,...,3.212740,5.806690,40.094066,2.813620,4.788704,30.186153,2.712620,1792.845,879.0,914.0
3,Angola,DHS,2016,15-17,DHS,3.400000,1.400000,47.800000,72.300000,3.700000,...,0.500000,40.200000,44.400000,0.800000,43.400000,41.400000,0.900000,2209.021,1113.0,1096.0
4,Argentina,MICS,2011-12,15-17,MICS,NaN,NaN,NaN,NaN,NaN,...,3.000000,2.400000,36.800000,1.600000,2.200000,31.000000,1.700000,2131.984,1047.0,1085.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,Uruguay,MICS,2012-13,15-17,MICS,10.700000,4.100000,35.400000,92.100000,1.600000,...,5.400000,3.500000,50.100000,4.000000,1.300000,37.800000,3.000000,145.968,71.0,75.0
99,Viet Nam,MICS,2013-14,15-17,MICS,7.800000,0.900000,2.900000,96.800000,0.800000,...,12.900000,3.400000,14.500000,7.900000,3.800000,11.200000,7.300000,3929.130,1890.0,2039.0
100,Yemen,DHS,2013,15-17,DHS,4.200000,4.000000,25.200000,79.600000,3.500000,...,1.100000,32.100000,35.200000,1.700000,40.800000,30.600000,1.900000,1959.731,963.0,997.0
101,Zambia,DHS,2018,16-18,DHS,3.817508,6.053556,23.900275,78.502815,1.513238,...,2.485762,32.662827,36.081894,5.466298,30.134580,37.629931,6.278414,1276.025,637.0,639.0
102,Zimbabwe,MICS,2019,15-18,MICS,11.140255,5.688387,19.018090,92.070625,0.405148,...,9.362069,7.614970,54.894051,30.913427,5.527568,51.742174,36.277812,1332.280,668.0,665.0

# gender parity index

In [116]:
data = DF_percentage
genders = ['Female','Male']
levels = ['primary','LS','US']
for gender in genders:
    for level in levels:
        data[f'{gender}_{level}_pop'] = data[f'{gender}_Needs_in_{level}'] * (1000/100) * data[f'{gender}_population_agerange'] 


levels = ['Never entered primary','Did not transition to lower secondary','Did not transition to upper secondary']
for gender in genders:
        for level in levels:
                data[f'{gender}_{level}_pop'] = data[f'{gender}_{level}'] * (1000/100) * data[f'{gender}_population_agerange'] 
# data['Female_US_pop_specific'] = data['Female_US_pop'] - data['Female_LS_pop']
# data['Female_LS_pop_specific'] = data['Female_LS_pop'] - data['Female_primary_pop']
# data['Female_primary_pop_specific'] = data['Female_primary_pop']
# data['Male_US_pop_specific'] = data['Male_US_pop'] - data['Male_LS_pop']
# data['Male_LS_pop_specific'] = data['Male_LS_pop'] - data['Male_primary_pop']
# data['Male_primary_pop_specific'] = data['Male_primary_pop']

# data['Female_US_percentage_specific'] = data['Female_Needs_in_US'] - data['Female_Needs_in_LS']
# data['Female_LS_percentage_specific'] = data['Female_Needs_in_LS'] - data['Female_Needs_in_primary']
# data['Female_primary_percentage_specific'] = data['Female_Needs_in_primary']

# data['Male_US_percentage_specific'] = data['Male_Needs_in_US'] - data['Male_Needs_in_LS']
# data['Male_LS_percentage_specific'] = data['Male_Needs_in_LS'] - data['Male_Needs_in_primary']
# data['Male_primary_percentage_specific'] = data['Male_Needs_in_primary']





data

,country,source,year,upsec_ageindatayear,source,Urban_Dropped out of lower secondary,Urban_Did not transition to lower secondary,Urban_Still attending lower secondary,Urban_Transitioned to lower secondary,Urban_Never entered primary,...,Female_US_pop,Male_primary_pop,Male_LS_pop,Male_US_pop,Female_Never entered primary_pop,Female_Did not transition to lower secondary_pop,Female_Did not transition to upper secondary_pop,Male_Never entered primary_pop,Male_Did not transition to lower secondary_pop,Male_Did not transition to upper secondary_pop
0,Afghanistan,DHS,2015-16,16-18,DHS,5.155056,3.084785,17.389533,69.313698,17.044494,...,19135.299775,429613.721446,407812.367991,28458.654354,662739.932610,51705.439965,19135.299775,268605.403987,53452.410294,28458.654354
1,Albania,DHS,2017-18,14-17,DHS,0.752825,0.614779,0.058706,96.976273,1.342770,...,6412.617163,1531.596493,744.547281,8527.039618,643.766627,292.080741,6412.617163,1038.339639,257.374580,8527.039618
2,Algeria,MICS,2018-19,15-17,MICS,11.503776,0.448183,24.680440,95.097948,1.914520,...,23843.930642,61586.252999,449316.529377,26561.124483,16158.790651,3752.444754,23843.930642,22388.486780,4212.111450,26561.124483
3,Angola,DHS,2016,15-17,DHS,3.400000,1.400000,47.800000,72.300000,3.700000,...,10017.000000,401136.000000,520600.000000,8768.000000,106848.000000,24486.000000,10017.000000,61376.000000,9864.000000,8768.000000
4,Argentina,MICS,2011-12,15-17,MICS,NaN,NaN,NaN,NaN,NaN,...,17799.000000,28210.000000,455700.000000,16275.000000,4188.000000,9423.000000,17799.000000,1085.000000,19530.000000,16275.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,Uruguay,MICS,2012-13,15-17,MICS,10.700000,4.100000,35.400000,92.100000,1.600000,...,2130.000000,3900.000000,45150.000000,3525.000000,71.000000,1562.000000,2130.000000,1875.000000,5250.000000,3525.000000
99,Viet Nam,MICS,2013-14,15-17,MICS,7.800000,0.900000,2.900000,96.800000,0.800000,...,137970.000000,59131.000000,356825.000000,175354.000000,45360.000000,17010.000000,137970.000000,18351.000000,28546.000000,175354.000000
100,Yemen,DHS,2013,15-17,DHS,4.200000,4.000000,25.200000,79.600000,3.500000,...,18297.000000,228313.000000,397803.000000,15952.000000,155043.000000,71262.000000,18297.000000,51844.000000,46859.000000,15952.000000
101,Zambia,DHS,2018,16-18,DHS,3.817508,6.053556,23.900275,78.502815,1.513238,...,39993.498660,224764.971402,220736.246467,29774.261442,24365.191305,63893.773581,39993.498660,20618.883410,35391.050756,29774.261442
102,Zimbabwe,MICS,2019,15-18,MICS,11.140255,5.688387,19.018090,92.070625,0.405148,...,242335.783524,63149.608874,383935.024040,173424.867901,3076.986819,96479.412708,242335.783524,1491.890754,101499.689174,173424.867901

# check the pop

male priamry pop = 18.81% * 1428 * 1000  = 268606
looks right.
female primary pop = 49.0918* 1350 * 1000 = 6627379
looks right

In [117]:
levels = ['primary','LS','US']

for level in levels:
    data[f'Gender_parity_index_{level}'] = data[f'Female_{level}_pop'] / data[f'Male_{level}_pop']



# data['Female_allneed'] =  data['Female_US_pop']
# data['Male_allneed'] = data['Male_US_pop']
# data['Gender_parity_index_total'] = data['Female_allneed'] / data['Male_allneed']
# data

In [118]:
tabs = ['country','Gender_parity_index_primary','Gender_parity_index_LS','Gender_parity_index_US','Female_Never entered primary_pop',	'Female_Did not transition to lower secondary_pop','Female_Did not transition to upper secondary_pop','Male_Never entered primary_pop','Male_Did not transition to lower secondary_pop','Male_Did not transition to upper secondary_pop']
print(tabs)
display(data)
data_path_final = data[tabs]

['country', 'Gender_parity_index_primary', 'Gender_parity_index_LS', 'Gender_parity_index_US', 'Female_Never entered primary_pop', 'Female_Did not transition to lower secondary_pop', 'Female_Did not transition to upper secondary_pop', 'Male_Never entered primary_pop', 'Male_Did not transition to lower secondary_pop', 'Male_Did not transition to upper secondary_pop']

,country,source,year,upsec_ageindatayear,source,Urban_Dropped out of lower secondary,Urban_Did not transition to lower secondary,Urban_Still attending lower secondary,Urban_Transitioned to lower secondary,Urban_Never entered primary,...,Male_US_pop,Female_Never entered primary_pop,Female_Did not transition to lower secondary_pop,Female_Did not transition to upper secondary_pop,Male_Never entered primary_pop,Male_Did not transition to lower secondary_pop,Male_Did not transition to upper secondary_pop,Gender_parity_index_primary,Gender_parity_index_LS,Gender_parity_index_US
0,Afghanistan,DHS,2015-16,16-18,DHS,5.155056,3.084785,17.389533,69.313698,17.044494,...,28458.654354,662739.932610,51705.439965,19135.299775,268605.403987,53452.410294,28458.654354,1.921932,0.529830,0.672389
1,Albania,DHS,2017-18,14-17,DHS,0.752825,0.614779,0.058706,96.976273,1.342770,...,8527.039618,643.766627,292.080741,6412.617163,1038.339639,257.374580,8527.039618,0.872895,1.265918,0.752033
2,Algeria,MICS,2018-19,15-17,MICS,11.503776,0.448183,24.680440,95.097948,1.914520,...,26561.124483,16158.790651,3752.444754,23843.930642,22388.486780,4212.111450,26561.124483,0.683476,0.590533,0.897700
3,Angola,DHS,2016,15-17,DHS,3.400000,1.400000,47.800000,72.300000,3.700000,...,8768.000000,106848.000000,24486.000000,10017.000000,61376.000000,9864.000000,8768.000000,1.204185,0.885098,1.142450
4,Argentina,MICS,2011-12,15-17,MICS,NaN,NaN,NaN,NaN,NaN,...,16275.000000,4188.000000,9423.000000,17799.000000,1085.000000,19530.000000,16275.000000,0.816519,0.712245,1.093641
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,Uruguay,MICS,2012-13,15-17,MICS,10.700000,4.100000,35.400000,92.100000,1.600000,...,3525.000000,71.000000,1562.000000,2130.000000,1875.000000,5250.000000,3525.000000,0.236667,0.594419,0.604255
99,Viet Nam,MICS,2013-14,15-17,MICS,7.800000,0.900000,2.900000,96.800000,0.800000,...,175354.000000,45360.000000,17010.000000,137970.000000,18351.000000,28546.000000,175354.000000,1.214591,0.593232,0.786808
100,Yemen,DHS,2013,15-17,DHS,4.200000,4.000000,25.200000,79.600000,3.500000,...,15952.000000,155043.000000,71262.000000,18297.000000,51844.000000,46859.000000,15952.000000,1.720901,0.740764,1.147004
101,Zambia,DHS,2018,16-18,DHS,3.817508,6.053556,23.900275,78.502815,1.513238,...,29774.261442,24365.191305,63893.773581,39993.498660,20618.883410,35391.050756,29774.261442,0.854036,1.085923,1.343224
102,Zimbabwe,MICS,2019,15-18,MICS,11.140255,5.688387,19.018090,92.070625,0.405148,...,173424.867901,3076.986819,96479.412708,242335.783524,1491.890754,101499.689174,173424.867901,0.584709,0.900251,1.397353

In [119]:
data.to_csv('Gender_parity_data.csv')

In [120]:
# NEET data

In [121]:
dfNEET = pd.read_excel('EIP_NEET_SEX_AGE_NB_A_EN.xlsx',skiprows = [0,1,2,3,4])
countries = dfNEET['Reference area'].unique().tolist()
dfNEET

,Reference area,Source,Sex,Time,Total,15-19,20-24,Unnamed: 7
0,Afghanistan,HIES - Living Conditions Survey,Total,2014,532.963,234.244,298.719,"Notes\n\nYouth not in employment, education or..."
1,Afghanistan,HIES - Living Conditions Survey,Male,2014,164.798,59.161,105.637,"Notes\n\nYouth not in employment, education or..."
2,Afghanistan,HIES - Living Conditions Survey,Female,2014,368.165,175.083,193.082,"Notes\n\nYouth not in employment, education or..."
3,Afghanistan,HIES - Living Conditions Survey,Total,2017,2385.258,1178.090,1207.168,"Notes\n\nYouth not in employment, education or..."
4,Afghanistan,HIES - Living Conditions Survey,Male,2017,519.710,270.185,249.525,"Notes\n\nYouth not in employment, education or..."
...,...,...,...,...,...,...,...,...
1765,Zimbabwe,LFS - Labour Force Survey,Male,2014,139.809,58.770,81.039,"Notes\n\nYouth not in employment, education or..."
1766,Zimbabwe,LFS - Labour Force Survey,Female,2014,283.222,120.903,162.319,"Notes\n\nYouth not in employment, education or..."
1767,Zimbabwe,LFS - Labour Force Survey,Total,2019,1161.387,544.746,616.641,"Notes\n\nYouth not in employment, education or..."
1768,Zimbabwe,LFS - Labour Force Survey,Male,2019,476.924,236.666,240.259,"Notes\n\nYouth not in employment, education or..."
1769,Zimbabwe,LFS - Labour Force Survey,Female,2019,684.463,308.081,376.383,"Notes\n\nYouth not in employment, education or..."

# traslate the data into country wise

In [122]:
genders = ['Female','Male']
data = dict()
data['country'] = countries
for gender in genders:
    percenlist_low = []
    percenlist_high = []
    yearlist = []
    for country in countries:
        tmp = dfNEET[dfNEET['Reference area']==country]
        tmp_gender = tmp[tmp.Sex==gender].iloc[-1,:]
        percenlist_low.append(tmp_gender['15-19'])
        percenlist_high.append(tmp_gender['20-24'])
        yearlist.append(tmp_gender['Time'])
    data[f'{gender}_NEET_15_19'] = percenlist_low
    data[f'{gender}_NEET_20_24'] = percenlist_high
    data['year'] = yearlist
df_percentage = pd.DataFrame(data)
df_percentage

,country,Female_NEET_15_19,Female_NEET_20_24,year,Male_NEET_15_19,Male_NEET_20_24
0,Afghanistan,1194.475,1124.157,2020,528.799,415.702
1,Albania,18.167,38.490,2019,20.890,37.157
2,Angola,306.969,498.009,2014,180.850,295.434
3,Argentina,145.031,398.722,2020,168.604,320.416
4,Armenia,9.871,36.890,2020,17.638,30.094
...,...,...,...,...,...,...
111,"Venezuela, Bolivarian Republic of",333.931,478.565,2017,227.019,186.640
112,Viet Nam,423.353,580.795,2020,430.888,336.429
113,Yemen,753.496,898.544,2014,256.078,317.560
114,Zambia,350.411,598.080,2019,252.073,355.750
115,Zimbabwe,308.081,376.383,2019,236.666,240.259

In [123]:
# dfBoy = pd.read_excel('male_pop.xlsx')
# dfGirl = pd.read_excel('female_pop.xlsx')
# yeargap = 7 # for the index

In [124]:
# for index, row in df_percentage.iterrows(): 
#     country_boy = dfBoy[row.country==dfBoy.Region]
#     country_boy = country_boy[country_boy['Reference date (as of 1 July)']==row.year]
#     df_percentage.at[index,'15_19_male_total_pop'] = country_boy.iloc[:,15+yeargap:20+yeargap].values.sum()
#     df_percentage.at[index,'20_24_male_total_pop'] = country_boy.iloc[:,20+yeargap:25+yeargap].values.sum()
    
    
#     country_girl = dfGirl[row.country==dfBoy.Region]
#     country_girl = country_girl[country_girl['Reference date (as of 1 July)']==row.year]
#     df_percentage.at[index,'15_19_female_total_pop'] = country_girl.iloc[:,15+yeargap:20+yeargap].values.sum()
#     df_percentage.at[index,'20_24_female_total_pop'] = country_girl.iloc[:,20+yeargap:25+yeargap].values.sum()
# df_percentage

# double check the value
for Afghanistan 
15: 501, 16: 489, 17:476, 18:463, 19:449 = 2378

In [125]:
# df_percentage.iloc[:,-4:] = df_percentage.iloc[:,-4:].round()
# df_percentage

In [126]:
# df_percentage['%Male_NEET_15_19'] = df_percentage['Male_NEET_15_19'] / df_percentage['15_19_male_total_pop'] * 100
# df_percentage['%Male_NEET_20_24'] = df_percentage['Male_NEET_20_24'] / df_percentage['20_24_male_total_pop'] * 100
# df_percentage['%Female_NEET_15_19'] = df_percentage['Female_NEET_15_19'] / df_percentage['15_19_female_total_pop'] * 100
# df_percentage['%Female_NEET_20_24'] = df_percentage['Female_NEET_20_24'] / df_percentage['20_24_female_total_pop'] * 100
# df_percentage['%Total_NEET_15_19'] = (df_percentage['Female_NEET_15_19'] + df_percentage['Male_NEET_15_19']) / (df_percentage['15_19_female_total_pop'] + df_percentage['15_19_male_total_pop'] )* 100
# df_percentage['%Total_NEET_20_24'] = (df_percentage['Female_NEET_20_24'] + df_percentage['Male_NEET_20_24']) / (df_percentage['20_24_female_total_pop'] + df_percentage['20_24_male_total_pop'] )* 100
# df_percentage

In [127]:
# df_percentage.to_csv('NEET_rate.csv')

# revise the NEET code, directly devide the neet data between the two gender

In [128]:
dfNEET = pd.read_excel('EIP_NEET_SEX_AGE_NB_A_EN.xlsx',skiprows = [0,1,2,3,4])
countries = dfNEET['Reference area'].unique().tolist()
genders = ['Female','Male']
data = dict()
data['country'] = countries
for gender in genders:
    percenlist_low = []
    percenlist_high = []
    yearlist = []
    for country in countries:
        tmp = dfNEET[dfNEET['Reference area']==country]
        tmp_gender = tmp[tmp.Sex==gender].iloc[-1,:]
        percenlist_low.append(tmp_gender['15-19'])
        percenlist_high.append(tmp_gender['20-24'])
        yearlist.append(tmp_gender['Time'])
    data[f'{gender}_NEET_15_19'] = percenlist_low
    data[f'{gender}_NEET_20_24'] = percenlist_high
    data['year'] = yearlist
df_percentage = pd.DataFrame(data)
df_percentage

,country,Female_NEET_15_19,Female_NEET_20_24,year,Male_NEET_15_19,Male_NEET_20_24
0,Afghanistan,1194.475,1124.157,2020,528.799,415.702
1,Albania,18.167,38.490,2019,20.890,37.157
2,Angola,306.969,498.009,2014,180.850,295.434
3,Argentina,145.031,398.722,2020,168.604,320.416
4,Armenia,9.871,36.890,2020,17.638,30.094
...,...,...,...,...,...,...
111,"Venezuela, Bolivarian Republic of",333.931,478.565,2017,227.019,186.640
112,Viet Nam,423.353,580.795,2020,430.888,336.429
113,Yemen,753.496,898.544,2014,256.078,317.560
114,Zambia,350.411,598.080,2019,252.073,355.750
115,Zimbabwe,308.081,376.383,2019,236.666,240.259

In [129]:
df_percentage['GPI_15_19'] = df_percentage['Female_NEET_15_19'] / df_percentage['Male_NEET_15_19']
df_percentage['GPI_20_24'] = df_percentage['Female_NEET_20_24'] / df_percentage['Male_NEET_20_24']
data_NEET_final = df_percentage[['country','GPI_15_19','GPI_20_24']]

In [130]:
data_final = data_path_final
data_final = data_final.merge(data_NEET_final,how='right')
display(data_final)
display(data_path_final)

data_final.rename(
    {
        'Gender_parity_index_primary':'GPI_path_primary',
        'Gender_parity_index_LS':'GPI_path_LS',
        'Gender_parity_index_US':'GPI_path_US',
        'GPI_15_19':'GPI_NEET_15_19',
        'GPI_20_24':'GPI_NEET_20_24',        	   
    },
    axis=1,
    inplace=True
    
)
data_final.to_csv('ForAlexa.csv')

data_final

,country,Gender_parity_index_primary,Gender_parity_index_LS,Gender_parity_index_US,Female_Never entered primary_pop,Female_Did not transition to lower secondary_pop,Female_Did not transition to upper secondary_pop,Male_Never entered primary_pop,Male_Did not transition to lower secondary_pop,Male_Did not transition to upper secondary_pop,GPI_15_19,GPI_20_24
0,Afghanistan,1.921932,0.529830,0.672389,662739.932610,51705.439965,19135.299775,268605.403987,53452.410294,28458.654354,2.258845,2.704238
1,Albania,0.872895,1.265918,0.752033,643.766627,292.080741,6412.617163,1038.339639,257.374580,8527.039618,0.869651,1.035875
2,Angola,1.204185,0.885098,1.142450,106848.000000,24486.000000,10017.000000,61376.000000,9864.000000,8768.000000,1.697368,1.685686
3,Argentina,0.816519,0.712245,1.093641,4188.000000,9423.000000,17799.000000,1085.000000,19530.000000,16275.000000,0.860187,1.244389
4,Armenia,inf,0.268283,0.443314,66.547277,0.000000,335.936294,0.000000,0.000000,757.783536,0.559644,1.225826
...,...,...,...,...,...,...,...,...,...,...,...,...
111,"Venezuela, Bolivarian Republic of",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.470939,2.564107
112,Viet Nam,1.214591,0.593232,0.786808,45360.000000,17010.000000,137970.000000,18351.000000,28546.000000,175354.000000,0.982513,1.726352
113,Yemen,1.720901,0.740764,1.147004,155043.000000,71262.000000,18297.000000,51844.000000,46859.000000,15952.000000,2.942447,2.829525
114,Zambia,0.854036,1.085923,1.343224,24365.191305,63893.773581,39993.498660,20618.883410,35391.050756,29774.261442,1.390117,1.681181
115,Zimbabwe,0.584709,0.900251,1.397353,3076.986819,96479.412708,242335.783524,1491.890754,101499.689174,173424.867901,1.301754,1.566572

,country,Gender_parity_index_primary,Gender_parity_index_LS,Gender_parity_index_US,Female_Never entered primary_pop,Female_Did not transition to lower secondary_pop,Female_Did not transition to upper secondary_pop,Male_Never entered primary_pop,Male_Did not transition to lower secondary_pop,Male_Did not transition to upper secondary_pop
0,Afghanistan,1.921932,0.529830,0.672389,662739.932610,51705.439965,19135.299775,268605.403987,53452.410294,28458.654354
1,Albania,0.872895,1.265918,0.752033,643.766627,292.080741,6412.617163,1038.339639,257.374580,8527.039618
2,Algeria,0.683476,0.590533,0.897700,16158.790651,3752.444754,23843.930642,22388.486780,4212.111450,26561.124483
3,Angola,1.204185,0.885098,1.142450,106848.000000,24486.000000,10017.000000,61376.000000,9864.000000,8768.000000
4,Argentina,0.816519,0.712245,1.093641,4188.000000,9423.000000,17799.000000,1085.000000,19530.000000,16275.000000
...,...,...,...,...,...,...,...,...,...,...
98,Uruguay,0.236667,0.594419,0.604255,71.000000,1562.000000,2130.000000,1875.000000,5250.000000,3525.000000
99,Viet Nam,1.214591,0.593232,0.786808,45360.000000,17010.000000,137970.000000,18351.000000,28546.000000,175354.000000
100,Yemen,1.720901,0.740764,1.147004,155043.000000,71262.000000,18297.000000,51844.000000,46859.000000,15952.000000
101,Zambia,0.854036,1.085923,1.343224,24365.191305,63893.773581,39993.498660,20618.883410,35391.050756,29774.261442
102,Zimbabwe,0.584709,0.900251,1.397353,3076.986819,96479.412708,242335.783524,1491.890754,101499.689174,173424.867901

,country,GPI_path_primary,GPI_path_LS,GPI_path_US,Female_Never entered primary_pop,Female_Did not transition to lower secondary_pop,Female_Did not transition to upper secondary_pop,Male_Never entered primary_pop,Male_Did not transition to lower secondary_pop,Male_Did not transition to upper secondary_pop,GPI_NEET_15_19,GPI_NEET_20_24
0,Afghanistan,1.921932,0.529830,0.672389,662739.932610,51705.439965,19135.299775,268605.403987,53452.410294,28458.654354,2.258845,2.704238
1,Albania,0.872895,1.265918,0.752033,643.766627,292.080741,6412.617163,1038.339639,257.374580,8527.039618,0.869651,1.035875
2,Angola,1.204185,0.885098,1.142450,106848.000000,24486.000000,10017.000000,61376.000000,9864.000000,8768.000000,1.697368,1.685686
3,Argentina,0.816519,0.712245,1.093641,4188.000000,9423.000000,17799.000000,1085.000000,19530.000000,16275.000000,0.860187,1.244389
4,Armenia,inf,0.268283,0.443314,66.547277,0.000000,335.936294,0.000000,0.000000,757.783536,0.559644,1.225826
...,...,...,...,...,...,...,...,...,...,...,...,...
111,"Venezuela, Bolivarian Republic of",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.470939,2.564107
112,Viet Nam,1.214591,0.593232,0.786808,45360.000000,17010.000000,137970.000000,18351.000000,28546.000000,175354.000000,0.982513,1.726352
113,Yemen,1.720901,0.740764,1.147004,155043.000000,71262.000000,18297.000000,51844.000000,46859.000000,15952.000000,2.942447,2.829525
114,Zambia,0.854036,1.085923,1.343224,24365.191305,63893.773581,39993.498660,20618.883410,35391.050756,29774.261442,1.390117,1.681181
115,Zimbabwe,0.584709,0.900251,1.397353,3076.986819,96479.412708,242335.783524,1491.890754,101499.689174,173424.867901,1.301754,1.566572

In [138]:
# remove the data without the pathways
df = pd.read_csv('/Users/mengliu/Fab Inc Dropbox/Fab Inc Other/Upwork_tasks/Alexa_Christina/ForAlexa.csv')
df

,Unnamed: 0,country,GPI_path_primary,GPI_path_LS,GPI_path_US,Female_Never entered primary_pop,Female_Did not transition to lower secondary_pop,Female_Did not transition to upper secondary_pop,Male_Never entered primary_pop,Male_Did not transition to lower secondary_pop,Male_Did not transition to upper secondary_pop,GPI_NEET_15_19,GPI_NEET_20_24
0,0,Afghanistan,1.921932,0.529830,0.672389,662739.932610,51705.439965,19135.299775,268605.403987,53452.410294,28458.654354,2.258845,2.704238
1,1,Albania,0.872895,1.265918,0.752033,643.766627,292.080741,6412.617163,1038.339639,257.374580,8527.039618,0.869651,1.035875
2,2,Angola,1.204185,0.885098,1.142450,106848.000000,24486.000000,10017.000000,61376.000000,9864.000000,8768.000000,1.697368,1.685686
3,3,Argentina,0.816519,0.712245,1.093641,4188.000000,9423.000000,17799.000000,1085.000000,19530.000000,16275.000000,0.860187,1.244389
4,4,Armenia,inf,0.268283,0.443314,66.547277,0.000000,335.936294,0.000000,0.000000,757.783536,0.559644,1.225826
...,...,...,...,...,...,...,...,...,...,...,...,...,...
111,111,"Venezuela, Bolivarian Republic of",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.470939,2.564107
112,112,Viet Nam,1.214591,0.593232,0.786808,45360.000000,17010.000000,137970.000000,18351.000000,28546.000000,175354.000000,0.982513,1.726352
113,113,Yemen,1.720901,0.740764,1.147004,155043.000000,71262.000000,18297.000000,51844.000000,46859.000000,15952.000000,2.942447,2.829525
114,114,Zambia,0.854036,1.085923,1.343224,24365.191305,63893.773581,39993.498660,20618.883410,35391.050756,29774.261442,1.390117,1.681181
115,115,Zimbabwe,0.584709,0.900251,1.397353,3076.986819,96479.412708,242335.783524,1491.890754,101499.689174,173424.867901,1.301754,1.566572

In [139]:
df = df.dropna(subset= ['GPI_path_primary','GPI_path_LS','GPI_path_US'],how='all')
df

,Unnamed: 0,country,GPI_path_primary,GPI_path_LS,GPI_path_US,Female_Never entered primary_pop,Female_Did not transition to lower secondary_pop,Female_Did not transition to upper secondary_pop,Male_Never entered primary_pop,Male_Did not transition to lower secondary_pop,Male_Did not transition to upper secondary_pop,GPI_NEET_15_19,GPI_NEET_20_24
0,0,Afghanistan,1.921932,0.529830,0.672389,662739.932610,51705.439965,19135.299775,268605.403987,53452.410294,28458.654354,2.258845,2.704238
1,1,Albania,0.872895,1.265918,0.752033,643.766627,292.080741,6412.617163,1038.339639,257.374580,8527.039618,0.869651,1.035875
2,2,Angola,1.204185,0.885098,1.142450,106848.000000,24486.000000,10017.000000,61376.000000,9864.000000,8768.000000,1.697368,1.685686
3,3,Argentina,0.816519,0.712245,1.093641,4188.000000,9423.000000,17799.000000,1085.000000,19530.000000,16275.000000,0.860187,1.244389
4,4,Armenia,inf,0.268283,0.443314,66.547277,0.000000,335.936294,0.000000,0.000000,757.783536,0.559644,1.225826
...,...,...,...,...,...,...,...,...,...,...,...,...,...
109,109,Uruguay,0.236667,0.594419,0.604255,71.000000,1562.000000,2130.000000,1875.000000,5250.000000,3525.000000,0.933571,1.478982
112,112,Viet Nam,1.214591,0.593232,0.786808,45360.000000,17010.000000,137970.000000,18351.000000,28546.000000,175354.000000,0.982513,1.726352
113,113,Yemen,1.720901,0.740764,1.147004,155043.000000,71262.000000,18297.000000,51844.000000,46859.000000,15952.000000,2.942447,2.829525
114,114,Zambia,0.854036,1.085923,1.343224,24365.191305,63893.773581,39993.498660,20618.883410,35391.050756,29774.261442,1.390117,1.681181
115,115,Zimbabwe,0.584709,0.900251,1.397353,3076.986819,96479.412708,242335.783524,1491.890754,101499.689174,173424.867901,1.301754,1.566572

In [140]:
df.to_csv('ForAlexa_removeNanOfGPI.csv')

In [151]:
# remove the data without the pathways
df = pd.read_csv('/Users/mengliu/Fab Inc Dropbox/Fab Inc Other/Upwork_tasks/Alexa_Christina/ForAlexa.csv')
df

,Unnamed: 0,country,GPI_path_primary,GPI_path_LS,GPI_path_US,Female_Never entered primary_pop,Female_Did not transition to lower secondary_pop,Female_Did not transition to upper secondary_pop,Male_Never entered primary_pop,Male_Did not transition to lower secondary_pop,Male_Did not transition to upper secondary_pop,GPI_NEET_15_19,GPI_NEET_20_24
0,0,Afghanistan,1.921932,0.529830,0.672389,662739.932610,51705.439965,19135.299775,268605.403987,53452.410294,28458.654354,2.258845,2.704238
1,1,Albania,0.872895,1.265918,0.752033,643.766627,292.080741,6412.617163,1038.339639,257.374580,8527.039618,0.869651,1.035875
2,2,Angola,1.204185,0.885098,1.142450,106848.000000,24486.000000,10017.000000,61376.000000,9864.000000,8768.000000,1.697368,1.685686
3,3,Argentina,0.816519,0.712245,1.093641,4188.000000,9423.000000,17799.000000,1085.000000,19530.000000,16275.000000,0.860187,1.244389
4,4,Armenia,inf,0.268283,0.443314,66.547277,0.000000,335.936294,0.000000,0.000000,757.783536,0.559644,1.225826
...,...,...,...,...,...,...,...,...,...,...,...,...,...
111,111,"Venezuela, Bolivarian Republic of",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.470939,2.564107
112,112,Viet Nam,1.214591,0.593232,0.786808,45360.000000,17010.000000,137970.000000,18351.000000,28546.000000,175354.000000,0.982513,1.726352
113,113,Yemen,1.720901,0.740764,1.147004,155043.000000,71262.000000,18297.000000,51844.000000,46859.000000,15952.000000,2.942447,2.829525
114,114,Zambia,0.854036,1.085923,1.343224,24365.191305,63893.773581,39993.498660,20618.883410,35391.050756,29774.261442,1.390117,1.681181
115,115,Zimbabwe,0.584709,0.900251,1.397353,3076.986819,96479.412708,242335.783524,1491.890754,101499.689174,173424.867901,1.301754,1.566572

# cumulative method

In [153]:
levels = ['Never entered primary','Did not transition to lower secondary','Did not transition to upper secondary']
genders = ['Female','Male']
level_item = levels = ['primary','LS','US']
for gender in genders:
    df[f'{gender}_primary_pop_cumulative'] = df[f'{gender}_Never entered primary_pop'] 
    df[f'{gender}_LS_pop_cumulative'] = df[f'{gender}_Did not transition to lower secondary_pop'] + df[f'{gender}_Never entered primary_pop']
    df[f'{gender}_US_pop_cumulative'] = df[f'{gender}_Did not transition to upper secondary_pop'] + df[f'{gender}_Did not transition to lower secondary_pop'] + df[f'{gender}_Never entered primary_pop']
for level in levels:
    df[f'GPI_{level}_cumulative'] = df[f'Female_{level}_pop_cumulative']/df[f'Male_{level}_pop_cumulative']

In [155]:
df.replace([np.inf],np.nan,inplace=True)
df.replace([],np.nan,inplace=True)

In [157]:
df = df.dropna(subset= ['GPI_primary_cumulative','GPI_LS_cumulative','GPI_US_cumulative'],how='all')
df

,Unnamed: 0,country,GPI_path_primary,GPI_path_LS,GPI_path_US,Female_Never entered primary_pop,Female_Did not transition to lower secondary_pop,Female_Did not transition to upper secondary_pop,Male_Never entered primary_pop,Male_Did not transition to lower secondary_pop,...,GPI_NEET_20_24,Female_primary_pop_cumulative,Female_LS_pop_cumulative,Female_US_pop_cumulative,Male_primary_pop_cumulative,Male_LS_pop_cumulative,Male_US_pop_cumulative,GPI_primary_cumulative,GPI_LS_cumulative,GPI_US_cumulative
0,0,Afghanistan,1.921932,0.529830,0.672389,662739.932610,51705.439965,19135.299775,268605.403987,53452.410294,...,2.704238,662739.932610,714445.372575,733580.672351,268605.403987,322057.814282,350516.468636,2.467337,2.218376,2.092857
1,1,Albania,0.872895,1.265918,0.752033,643.766627,292.080741,6412.617163,1038.339639,257.374580,...,1.035875,643.766627,935.847368,7348.464531,1038.339639,1295.714219,9822.753838,0.619996,0.722264,0.748106
2,2,Angola,1.204185,0.885098,1.142450,106848.000000,24486.000000,10017.000000,61376.000000,9864.000000,...,1.685686,106848.000000,131334.000000,141351.000000,61376.000000,71240.000000,80008.000000,1.740876,1.843543,1.766711
3,3,Argentina,0.816519,0.712245,1.093641,4188.000000,9423.000000,17799.000000,1085.000000,19530.000000,...,1.244389,4188.000000,13611.000000,31410.000000,1085.000000,20615.000000,36890.000000,3.859908,0.660247,0.851450
4,4,Armenia,NaN,0.268283,0.443314,66.547277,0.000000,335.936294,0.000000,0.000000,...,1.225826,66.547277,66.547277,402.483571,0.000000,0.000000,757.783536,NaN,NaN,0.531133
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109,109,Uruguay,0.236667,0.594419,0.604255,71.000000,1562.000000,2130.000000,1875.000000,5250.000000,...,1.478982,71.000000,1633.000000,3763.000000,1875.000000,7125.000000,10650.000000,0.037867,0.229193,0.353333
112,112,Viet Nam,1.214591,0.593232,0.786808,45360.000000,17010.000000,137970.000000,18351.000000,28546.000000,...,1.726352,45360.000000,62370.000000,200340.000000,18351.000000,46897.000000,222251.000000,2.471800,1.329936,0.901413
113,113,Yemen,1.720901,0.740764,1.147004,155043.000000,71262.000000,18297.000000,51844.000000,46859.000000,...,2.829525,155043.000000,226305.000000,244602.000000,51844.000000,98703.000000,114655.000000,2.990568,2.292787,2.133374
114,114,Zambia,0.854036,1.085923,1.343224,24365.191305,63893.773581,39993.498660,20618.883410,35391.050756,...,1.681181,24365.191305,88258.964886,128252.463546,20618.883410,56009.934166,85784.195608,1.181693,1.575773,1.495059
115,115,Zimbabwe,0.584709,0.900251,1.397353,3076.986819,96479.412708,242335.783524,1491.890754,101499.689174,...,1.566572,3076.986819,99556.399527,341892.183052,1491.890754,102991.579929,276416.447829,2.062475,0.966646,1.236874

In [158]:
df.to_csv('ForAlexa_includingCumulative.csv')